@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  background: #000000;
  font-synthesis: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff;
  overscroll-behavior-y: contain;
  -webkit-font-smoothing: antialiased;
}

.gold-gradient {
  background: linear-gradient(45deg, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
}

.gold-text {
  display: inline-block;
  background: linear-gradient(45deg, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gold-border {
  border-color: #bf953f;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #000000;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #bf953f;
  border-radius: 10px;
}

* {
  -webkit-tap-highlight-color: transparent;
}
